@ -1,37 +1,25 @@
# Dependencies (Bibliotheken nicht hochladen)
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production Build Ordner
dist
release
hot_update

# Systemdateien (Mac/Windows Müll)
.DS_Store
Thumbs.db

# Environment Variables (Sicherheit)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.vscode
.DS_Store
*.suo
*.ntvs
*.ntvs*
*.njsproj
*.sln
*.sw?
release/